
// System Prefered Mode 'Auto-Detect'

@media (prefers-color-scheme: dark) {
    body {
        background-color: rgba(0, 0, 0, 0.90);
        color: #ffffff;
    }
    .calc-box {
        border-color: rgba(255, 255, 255, 0.50);
    }
    .calc-header {
        border-bottom-color: rgba(255, 255, 255, 0.50);
    }
    .heading {
        color: #ffffff;
    }
    .label-text {
        color: rgba(255, 255, 255, 0.95);
    }
    .input-field {
        color: #ffffff;
        border-color: rgba(255, 255, 255, 0.95);
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: rgba(255, 255, 255, 0.50);
        }
        &::-moz-placeholder { /* Firefox 19+ */
            color: rgba(255, 255, 255, 0.50);
        }
        &:-ms-input-placeholder { /* IE 10+ */
            color: rgba(255, 255, 255, 0.50);
        }
        &:-moz-placeholder { /* Firefox 18- */
            color: rgba(255, 255, 255, 0.50);
        }
        &:focus {
            background-color: transparent;
            color: #ffffff;
        }
        &.readonly, &[readonly] {
            color: #ffffff;
        }
        &.disabled, &[disabled] {
            color: rgba(255, 255, 255, 0.22);
            border-color: rgba(255, 255, 255, 0.22);
        }
    }
    .clcbtn {
        background-color: rgba(255, 255, 255, 0.80);
        color: rgba(0, 0, 0, 0.80);
        &:hover, &:active {
            text-decoration: none;
            background-color: #ffffff;
            color: #000000;
        }
        &.disabled, &[disabled] {
            background-color: rgba(255, 255, 255, 0.40);
            color: rgba(0, 0, 0, 0.40);
        }
    }
    .clcbtn-outlined {
        border-color: rgba(255, 255, 255, 0.80);
        color: rgba(255, 255, 255, 0.80);
        &:hover, &:active {
            border-color: #ffffff;
            background-color: #ffffff;
            color: #000000;
        }
        &.disabled, &[disabled] {
            border-color: rgba(255, 255, 255, 0.40);
            color: rgba(255, 255, 255, 0.40);
        }
    }
    .res-body {
        border-top-color: rgba(255, 255, 255, 0.50);
        background-color: rgba(255, 255, 255, 0.05);
    }
    .res-title {
        color: #ffffff;
    }
    .result-content {
        & p {
            color: rgba(255, 255, 255, 0.95);
        }
    }
    .tgltmod {
        & .legend-text {
            color: rgba(255, 255, 255, 0.50);
        }
    }
    .themmod-grid {
        border-color: rgba(255, 255, 255, 0.80);
    }
    .themmod-gitem {
        & .fill {
            fill: rgba(255, 255, 255, 0.80);
        }
        & .stroke {
            stroke: rgba(255, 255, 255, 0.80);
        }
        &:hover, &:active {
            background-color: rgba(255, 255, 255, 0.30);
        }
        &.active {
            background-color: #ffffff;
            & .fill {
                fill: #000000;
            }
            & .stroke {
                stroke: #000000;
            }
        }
    }
}

[theme-mode="dark"] {
    body {
        background-color: rgba(0, 0, 0, 0.90);
        color: #ffffff;
    }
    .calc-box {
        border-color: rgba(255, 255, 255, 0.50);
    }
    .calc-header {
        border-bottom-color: rgba(255, 255, 255, 0.50);
    }
    .heading {
        color: #ffffff;
    }
    .label-text {
        color: rgba(255, 255, 255, 0.95);
    }
    .input-field {
        color: #ffffff;
        border-color: rgba(255, 255, 255, 0.95);
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: rgba(255, 255, 255, 0.50);
        }
        &::-moz-placeholder { /* Firefox 19+ */
            color: rgba(255, 255, 255, 0.50);
        }
        &:-ms-input-placeholder { /* IE 10+ */
            color: rgba(255, 255, 255, 0.50);
        }
        &:-moz-placeholder { /* Firefox 18- */
            color: rgba(255, 255, 255, 0.50);
        }
        &:focus {
            background-color: transparent;
            color: #ffffff;
        }
        &.readonly, &[readonly] {
            color: #ffffff;
        }
        &.disabled, &[disabled] {
            color: rgba(255, 255, 255, 0.22);
            border-color: rgba(255, 255, 255, 0.22);
        }
    }
    .clcbtn {
        background-color: rgba(255, 255, 255, 0.80);
        color: rgba(0, 0, 0, 0.80);
        &:hover, &:active {
            background-color: #ffffff;
            color: #000000;
        }
        &.disabled, &[disabled] {
            background-color: rgba(255, 255, 255, 0.40);
            color: rgba(0, 0, 0, 0.40);
        }
    }
    .clcbtn-outlined {
        border-color: rgba(255, 255, 255, 0.80);
        color: rgba(255, 255, 255, 0.80);
        &:hover, &:active {
            border-color: #ffffff;
            background-color: #ffffff;
            color: #000000;
        }
        &.disabled, &[disabled] {
            border-color: rgba(255, 255, 255, 0.40);
            color: rgba(255, 255, 255, 0.40);
        }
    }
    .res-body {
        border-top-color: rgba(255, 255, 255, 0.50);
        background-color: rgba(255, 255, 255, 0.05);
    }
    .res-title {
        color: #ffffff;
    }
    .result-content {
        & p {
            color: rgba(255, 255, 255, 0.95);
        }
    }
    .tgltmod {
        & .legend-text {
            color: rgba(255, 255, 255, 0.50);
        }
    }
    .themmod-grid {
        border-color: rgba(255, 255, 255, 0.80);
    }
    .themmod-gitem {
        & .fill {
            fill: rgba(255, 255, 255, 0.80);
        }
        & .stroke {
            stroke: rgba(255, 255, 255, 0.80);
        }
        &:hover, &:active {
            background-color: rgba(255, 255, 255, 0.30);
        }
        &.active {
            background-color: #ffffff;
            & .fill {
                fill: #000000;
            }
            & .stroke {
                stroke: #000000;
            }
        }
    }
}

[theme-mode="light"] {
    body {
        background-color: transparent;
        color: #000000;
    }
    .calc-box {
        border-color: rgba(0, 0, 0, 0.50);
    }
    .calc-header {
        border-bottom-color: rgba(0, 0, 0, 0.50);
    }
    .heading {
        color: #000000;
    }
    .label-text {
        color: rgba(0, 0, 0, 0.95);
    }
    .input-field {
        color: #000000;
        border-color: rgba(0, 0, 0, 0.95);
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: initial;
        }
        &::-moz-placeholder { /* Firefox 19+ */
            color: initial;
        }
        &:-ms-input-placeholder { /* IE 10+ */
            color: initial;
        }
        &:-moz-placeholder { /* Firefox 18- */
            color: initial;
        }
        &:focus {
            background-color: transparent;
            color: #000000;
        }
        &.readonly, &[readonly] {
            color: #000000;
        }
        &.disabled, &[disabled] {
            color: rgba(0, 0, 0, 0.22);
            border-color: rgba(0, 0, 0, 0.22);
        }
    }
    .clcbtn {
        background-color: rgba(0, 0, 0, 0.80);
        color: rgba(255, 255, 255, 0.80);
        &:hover, &:active {
            text-decoration: none;
            background-color: #000000;
            color: #ffffff;
        }
        &.disabled, &[disabled] {
            background-color: rgba(0, 0, 0, 0.40);
            color: rgba(255, 255, 255, 0.40);
        }
    }
    .clcbtn-outlined {
        border-color: rgba(0, 0, 0, 0.80);
        color: rgba(0, 0, 0, 0.80);
        &:hover, &:active {
            border-color: #000000;
            background-color: #000000;
            color: #ffffff;
        }
        &.disabled, &[disabled] {
            border-color: rgba(0, 0, 0, 0.40);
            color: rgba(0, 0, 0, 0.40);
        }
    }
    .res-body {
        border-top-color: rgba(0, 0, 0, 0.50);
        background-color: rgba(0, 0, 0, 0.05);
    }
    .res-title {
        color: #000000;
    }
    .result-content {
        & p {
            color: rgba(0, 0, 0, 0.95);
        }
    }
    .tgltmod {
        & .legend-text {
            color: rgba(0, 0, 0, 0.50);
        }
    }
    .themmod-grid {
        border-color: rgba(0, 0, 0, 0.80);
    }
    .themmod-gitem {
        & .fill {
            fill: rgba(0, 0, 0, 0.80);
        }
        & .stroke {
            stroke: rgba(0, 0, 0, 0.80);
        }
        &:hover, &:active {
            background-color: rgba(0, 0, 0, 0.05);
        }
        &.active {
            background-color: #000000;
            & .fill {
                fill: #ffffff;
            }
            & .stroke {
                stroke: #ffffff;
            }
        }
    }
}